html{
  min-height: 100%;
  scroll-behavior: smooth; 
  margin-top: 60px;
}
body{    
  margin: 0 auto;
  min-height: 100%;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
}

.Navbar{
  position: fixed;
  background: #333;
  overflow: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.Navbar .brand{
  color: #fff;
  text-decoration: none;
  float: left;
  padding: 20px;
}

.Navbar a{
  float: right;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  margin: 0 10px;
}

.Navbar .avatar a{
  background: blue;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  margin-right: 80px;
}

.Navbar a.register{
  margin-right: 80px;
}

.Navbar a.brand{
  margin-left: 80px;
  font-family: serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Navbar .icon{
  display: none;
}

.Navbar .active{
  background: #42af67;
}

.container{  
  padding: 20px;
}

.DashBoard{  
  padding: 20px;
}

.ProjectDetail .list{  
  float: right;
  margin-right: 30px;
  width: 50%;   
}

.ProjectDetail .notif{
  float: right;
  width: 25%;
  margin-right: 7.5%;
  border-radius: 5px;  
  background-color: #f2f2f2;  
  height: 80%;   
  padding: 0 25px;
}


.ProjectDetail .title{
  font-size: 25px;
  color: #5d7591;
  text-transform: capitalize;
  text-align: center;
  border-radius: 5px;
  margin: 0;
}

.ProjectDetail .paragraph{
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  overflow: visible;  
}

.ProjectDetail .date{
  color: #333;
  font-size: 15px;
  margin-top: 5px;
}

.ProjectDetail .author{
  font-size: 15px;
  font-family: serif;
  margin-bottom: 0;
}

.project{
  margin-bottom: 20px; 
  background:#c3d8d8;
  padding: 15px;
  border-radius: 5px;
}

.project .title{
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  text-transform: capitalize;
}

.project .date{
  font-size: 15px;
}

.ProjectDetail .no-project{
  text-align: left;
  font-family: sans-serif;
  font-size: 20px; 
}

.ProjectDetail .notif-title{
  margin: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.ProjectDetail .content{
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 25px;
  font-size: 20px;  
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.75);
  box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.75);
}

.del-project{
  cursor: pointer;
  color: #fff;
  background: #4CAF50;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.hide{
  display: none;
}

.Auth input[type=text], .Auth input[type=password], .Auth input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.Auth .error-container{
  margin: 20px 20px 0 20px;
}

.CreateProject textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  height: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

.Auth .alert {
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
}

.Auth .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.Auth .closebtn:hover {
  color: black;
}

/* Set a style for all buttons */
.Auth button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.Auth button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.Auth .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.Auth .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.Auth .close-container {
  text-align: center;
  margin: 0;
  padding: 10px;
  position: relative;
}

.Auth img.avatar {
  width: 20%;
  border-radius: 50%;
}

.Auth .container-auth {  
  padding: 16px;
}

.Auth .container-input {  
  padding: 8px;
}

.Auth span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.Auth .modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 40px;
}

/* Modal Content/Box */
.Auth .modal-content {
  background-color: #f2f2f2;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.Auth .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.Auth .close:hover,
.Auth .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.Auth .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.NotFound{  
  position: absolute; top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
}

.NotFound div{  
  width: 100%;
  margin: 15px auto;
}

.NotFound a {
  display: block;
  text-decoration: none;
  color: white;  
  background: #42af67;  
  padding: 15px;
  text-align: center;
  width: 20%;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.NotFound .img-notFound {
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .Auth span.psw {
     display: block;
     float: none;
  }
  .Auth .cancelbtn {
     width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  html{
    min-height: 100%;
    scroll-behavior: smooth; 
    margin-top: 0px;
  }
  .Navbar{
    position: relative;
    overflow: hidden;
  }
  .Navbar a.brand{
    display: block;
    float: none;
    margin: 0;
    width: 50%;
    margin-left: 40px;
  }

  .LoginLinks a, .LogoutLinks a{
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .Navbar .icon{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    margin: 0;
    color: white;
    padding: 20px;
    cursor: pointer;
  }

  .container{
    margin-top: 10px;
  }

  .Login form, .Register form, .CreateProject form{
    width: 80%;
    margin: auto;  
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .responsive-hide .LoginLinks,  .responsive-hide .LogoutLinks{
    display: none;
  }
  
  .Navbar .avatar a{
    background: blue;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    margin-right: 30px;
  }

  .DashBoard{
    margin-top: 0;
  }

  .project .title{
    text-align: center;
  }

   .ProjectDetail .notif {
    float: none;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0;
    }

  .ProjectDetail .list{
    float: none;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px auto;
    margin-right: 0;
  }
  
  .notif-title{
    padding-top: 10px;
  }

  .project-notif{
    border-radius: 5px;    
    padding: 10px;    
    height: 300px;
    overflow: auto; 
  }
  

  .project{
    padding: 10px;
    margin: 10px 20px;
  }

  .Auth img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .Auth .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .Auth .modal {
    display: block; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
  }
  
}
